
if has cat; then
  if find_up 'reliveit.ans'; then
    cat reliveit.ans
  fi
fi

layout ruby
use rbenv
rbenv shell 2.6.3
use node 12.14.1

mkdir -p .direnv/flutter

export FLUTTER_ROOT=.direnv/flutter

export_alias() {
  local name=$1
  shift
  local alias_dir=$PWD/.direnv/aliases
  local target="$alias_dir/$name"
  mkdir -p "$alias_dir"
  PATH_add "$alias_dir"
  echo '#!/usr/bin/env bash -e' > "$target"
  echo "$@" >> "$target"
  chmod +x "$target"
  echo "    $name"
}

command_exists () {
    type "$1" &> /dev/null;
}

setup_fastlane() {
  bundle install &> /dev/null
  gem install bundle &> /dev/null;
  echo "    install bundler"
  bundle update --bundler  &> /dev/null;
  echo "    update packages"
  bundle install &> /dev/null;

}

use_fvm () {
  local version=$1
  shift

  if [ -f ".fvm_version" ]; then
    echo "Using fvm from file $(cat .fvm_version)"
    version=$(cat .fvm_version)
  fi

  echo "    flutter => '$version'"  
  PATH_add ~/fvm/versions/$version/bin
  PATH_add ~/fvm/versions/$version/bin/cache/dart-sdk/bin
  ~/.pub-cache/bin/fvm install $version > /dev/null;
  ~/.pub-cache/bin/fvm use $version --force > /dev/null
}

echo "## flutter (fvm)"
use_fvm 1.20.2

echo ""
echo "## fastlane"
setup_fastlane

echo ""
echo "## aliases"

export_alias gw './gradlew $@'
export_alias mrj 'mr -j 8 $@'
export_alias lane 'fastlane $@'
export_alias sunny 'fastlane $@'
export_alias fl 'fastlane $@'


nvmrc=~/.nvm/nvm.sh
if [ -e $nvmrc ]; then
  source $nvmrc
  nvm use
fi

PATH_add node_modules/.bin

echo "[38;5;203m "
echo "EVERYTHING IS JUST FINE"
echo "[0m"
